<!DOCTYPE html>
<html lang="{{lang.list[defLang].lang}}">

<head>
    {{include '../_header.html'}}
    <style>
        .bg01 {
            margin-top: 50px;
            margin-bottom: 50px;
            padding: 20px;
            background-color: #202b3f;
        }

        .p0 {
            padding: 0px;
        }

        .profilePicture {
            width: 60px;
            border-radius: 50%;
        }
    </style>
</head>

<body>
    {{include '../_menu.html'}}

    <div id="app" class="container-fluid main-content p0">
        <div class="container-fluid bg01">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 class="form-signin-heading">
                            <img class="profilePicture" src="/images/profile01.png" alt="{{session.user.email}}">
                            {{session.user.email}}
                        </h2>
                    </div>
                    <div class="col-1 offset-6">
                        <h2 class="form-signin-heading">
                            <button class="btn btn-primary">充值</button>
                        </h2>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    {{include './_menu.html'}}
                </div>
                <div class="col-md-9 col-sm-12">
                    
                    请认证后，提交审核申请！
                    <p>
                        开发中...
                    </p>

                </div>
            </div>
        </div>

    </div>

    {{include '../_footer.html'}}
</body>

</html>