<!DOCTYPE html>
<html lang="{{lang.list[defLang].lang}}">

<head>
    {{include '../_header.html'}}
    <style>
        .bg01 {
            margin-top: 50px;
            margin-bottom: 50px;
            padding: 20px;
            background-color: #202b3f;
        }

        .p0 {
            padding: 0px;
        }

        .profilePicture {
            width: 60px;
            border-radius: 50%;
        }
    </style>
</head>

<body>
    {{include '../_menu.html'}}

    <div id="app" class="container-fluid main-content p0">
        {{include './_user_info.html'}}



        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    {{include './_menu.html'}}
                </div>
                <div class="col-md-9 col-sm-12">

                    <div v-if="status==3">
                        通过审核
                    </div>
                    <div v-else="">
                        请 <a href="/me/authentication">身份认证</a> 通过后，再回来提交提现申请！
                    </div>

                </div>
            </div>
        </div>

    </div>

    {{include '../_footer.html'}}


    <script>
        let app = new Vue({
            delimiters: ["{[", "]}"],
            el: '#app',
            data: {
                id: '{{session.user.id}}',
                loading: false,
                status: ''
            },
            methods: {
                get(url, params, callback) {
                    this.loading = true;
                    $.ajax({
                        'url': url,
                        'type': 'GET',
                        'dataType': 'json',
                        'data': params,
                        'success': res => {
                            this.loading = false;
                            callback(res);
                        },
                        'error': err => {
                            this.loading = false;
                            console.log(err);
                            alert(err.statusText);
                        }
                    })
                },
                init() {

                    this.get('/api/authentication', {}, (data) => {
                        if (data.flag != 'ok') {
                            console.log(data.falg)
                            return
                        }
                        this.status = data.data.status
                    })

                }
            },
            mounted() {
                this.init();
            }
        });
    </script>


</body>

</html>