<!DOCTYPE html>
<html lang="en">

<head>
    {{include './_header.html'}}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/admin-assets/plugins/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
</head>

<body class="sticky-header">
    {{include './_menu.html'}}


    <!-- main content start-->
    <div class="main-content">


        {{include './_header_profile.html'}}


        <!--body wrapper start-->
        <div id="app" class="wrapper">

            <!--Start Page Title-->
            <div class="page-title-box">
                <h4 class="page-title">用户列表</h4>
                <ol class="breadcrumb">
                    <li>
                        <a href="/admin">网站首页</a>
                    </li>
                    <li class="active">
                        所有用户
                    </li>
                </ol>
                <div class="clearfix"></div>
            </div>
            <!--End Page Title-->


            <!--Start row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="white-box">
                        <h2 class="header-title">用户列表</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>帐号</th>
                                        <th>邮箱</th>
                                        <th>手机</th>
                                        <th>用户类型</th>
                                        <th>邀请码</th>
                                        <th>系统钱包地址/充值总额</th>
                                        <th>邀请人(上级)</th>
                                        <th>当前状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in this.list">
                                        <td>{[item.id]}</td>
                                        <td>{[item.account]}</td>
                                        <td>{[item.email]}</td>
                                        <td>{[item.mobile]}</td>
                                        <td><a href="#" :id="'selectType'+item.id" :data-item="item.id"
                                                data-type="select" data-pk="1" data-value="" data-title="选择用户类型"
                                                class="editable editable-click" style="color: gray;">{[item.value]}</a>
                                        </td>
                                        <td><a :href="'/reg?invite='+item.invite.code"
                                                target="_blank">{[item.invite.code]}</a>
                                        </td>
                                        <td>
                                            <button @click="onRefreshWalletAddress(item.wallet.wallet_address)"
                                                :disabled="refreshButtonStatus" class="btn"><i
                                                    class="fa fa-refresh"></i></button>
                                            <a :href="'https://usdt.tokenview.com/cn/address/'+item.wallet.wallet_address"
                                                target="_blank">{[item.wallet.wallet_address]}</a> <a
                                                v-if="item.tradeTotal > 0"
                                                class="label label-danger">{[item.tradeTotal/1000000]} USDT</a>
                                        </td>
                                        <td>{[item.parent ? item.parent.email : '无']}</td>
                                        <td>
                                            <span v-if="!!item.status">
                                                <button @click="onClickStatus(item)" class="btn btn-success"> <i
                                                        class="fa fa-check"></i> </button>
                                            </span>
                                            <span v-else>
                                                <button @click="onClickStatus(item)" class="btn btn-danger"> <i
                                                        class="fa fa-remove"></i> </button>
                                            </span>
                                        </td>
                                        <td>
                                            <button class="btn btn-info"> <i class="fa fa-edit"></i> 编辑</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <!--End row-->


        </div>
        <!-- End Wrapper-->


        <!--Start  Footer -->
        <footer class="footer-main">{{include './_copyright.html'}}</footer>
        <!--End footer -->

    </div>
    <!--End main content -->


    {{include './_footer.html'}}


    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/admin-assets/plugins/bootstrap-editable/js/bootstrap-editable.min.js"></script>
    <!-- <script src="/admin-assets/pages/bootstrap-editable-custom.js"></script> -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->


    <script>
        let appVue = new Vue({
            delimiters: ["{[", "]}"],
            el: '#app',
            data: {
                loading: false,
                list: [],
                refreshButtonStatus: false,
                categoryList: []
            },
            methods: {
                onClickStatus(item) {
                    item.status = item.status == 1 ? 0 : 1
                    console.log('item.status ===============')
                    console.log(item.status)
                    this.get('/admin/api/user/update-one-field', { id: item.id, field: 'status', value: item.status })
                },
                onRefreshWalletAddress(wallet_address) {
                    this.refreshButtonStatus = true
                    this.get('/api/wallet-address/' + wallet_address, {}, (data) => {
                        this.init()
                        this.refreshButtonStatus = false
                    })
                },
                setEditable() {
                    let t = this
                    for (let i = 0; i < this.list.length; i++) {
                        let userItem = this.list[i]
                        $('#selectType' + userItem.id).editable({
                            // mode: 'inline',
                            prepend: userItem.value,
                            source: this.categoryList,
                            display: function (value, sourceData) {
                                let user_id = this.attributes['data-item']['value']
                                let type_id = value
                                if (type_id) {
                                    t.setUserType(user_id, type_id)
                                }
                                var colors = { "": "gray", 1: "green", 2: "blue" }
                                let elem = $.grep(sourceData, function (o) { return o.value == value; });
                                if (elem.length) {
                                    $(this).text(elem[0].text).css("color", colors[value]);
                                } else {
                                    $(this).empty();
                                }
                            }
                        });
                    }
                },
                setUserType(user_id, type_id) {
                    this.get('/admin/api/user/update-one-field', { id: user_id, field: 'type', value: type_id }, (data) => {
                        // 
                    })
                },
                getcCategory() {
                    this.get('/admin/api/user-group-category', {}, (data) => {
                        let a = data.data.list
                        a.forEach(function (item) {
                            item.text = item.value
                            item.value = item.id
                        })
                        this.categoryList = a
                        this.setEditable()
                    })
                },
                post(url, params, callback) {
                    this.loading = true;
                    $.post(url, params, res => {
                        this.loading = false;
                        callback(res);
                    })
                },
                get(url, params, callback) {
                    this.loading = true;
                    $.ajax({
                        'url': url,
                        'type': 'GET',
                        'dataType': 'json',
                        'data': params,
                        'success': res => {
                            this.loading = false;
                            callback(res);
                        },
                        'error': err => {
                            this.loading = false;
                            console.log(err);
                            alert(err.statusText);
                        }
                    })
                },

                // 初始化
                init() {
                    this.get('/admin/api/user-list', {}, (data) => {
                        this.list = data.data.list
                        this.getcCategory()
                    })
                }
            },
            mounted() {
                this.init();
            }
        });
    </script>
</body>

</html>