<!DOCTYPE html>
<html lang="{{lang.list[defLang].lang}}">

<head>
    <!-- bootstrap -->
    <link rel="stylesheet" href="/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <script src="/jquery/3.2.1/jquery.min.js"></script>
    <script src="/popper/1.12.5/popper.min.js"></script>
    <script src="/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- vue -->
    <script src="/default/js/vue.js"></script>
    <!-- moment -->
    <script src="/default/js/moment.js"></script>
    <style>
        ::-webkit-scrollbar {
            width: .5rem;
            height: .5rem;
            background: hsla(0, 100%, 50%, 0);
        }

        ::-webkit-scrollbar-track {
            border-radius: 0;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 0;
            background-color: rgba(66, 66, 66, 0.5);
            transition: all .2s;
            border-radius: .5rem;
        }

        html,
        body {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            background-color: #21293b;
        }

        .left-width,
        .right-width {
            min-width: 250px;
        }

        .bottom-width {
            min-width: 625px;
        }

        .height650 {
            height: 550px;
        }

        .height200 {
            height: 300px;
        }

        .height100 {
            height: 100%;
            overflow: hidden;
        }

        .width100 {
            width: 100%;
        }

        .flex-grow-1 {
            min-width: 950px;
        }

        .bg-box {
            background-color: #273147;
        }


        .nav-item .nav-link {
            color: #aaa;
        }

        .nav-item .nav-link.active {
            color: #f00;
            border-radius: 0px;
            /* background-color: #273147; */
            background: hsla(0, 100%, 50%, 0);
            border-bottom: 1.5px solid #f00;
        }

        .tab-content {
            color: #fff;
        }

        .page-table {
            width: 100%;
        }

        .bd-01 {
            border: 1px solid #191f2e;
        }

        .font-small {
            font-size: small;
            padding: 10px;
        }

        .shishichengjiao_buy {
            color: #dc3545;
        }

        .shishichengjiao_sell {
            color: #28a745;
        }
    </style>
</head>

<body>

    <div id="app">

        <div class="d-flex width100">
            {{include './_menu.html'}}
        </div>

        <div class="bd-01 d-flex height650">

            <div class="bg-box p-2 left-width height100">

                <ul class="bg-box nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home1" role="tab"
                            aria-controls="pills-home" aria-selected="true">USDT</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <!-- <div class="pre-scrollable tab-pane fade show active" id="pills-home1" role="tabpanel" aria-labelledby="pills-home-tab"> -->
                    <table class="font-small page-table table-hover">
                        <thead>
                            <tr>
                                <th scope="col-4 text-left">Currency</th>
                                <th scope="col-4 text-right">Last Price</th>
                                <th scope="col-4 text-right">Change</th>
                            </tr>
                        </thead>
                        <tbody class="font-small" style="overflow:scroll;">
                            <tr v-for="item in this.list" @click="onClickGo(item.node.symbol)">
                                <td class="col-4 text-left">{[item.node.symbol]}</td>
                                <td class="col-4 text-right">{[item.node.priceUsd]}</td>
                                <td class="col-4 text-right">
                                    <span v-if="item.node.changePercent24Hr>0"
                                        class="text-success">{[item.node.changePercent24Hr]}</span>
                                    <span v-if="item.node.changePercent24Hr<0"
                                        class="text-danger">{[item.node.changePercent24Hr]}</span>
                                    <span v-if="item.node.changePercent24Hr==0">{[item.node.changePercent24Hr]}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- </div> -->
                </div>

            </div>

            <div class="flex-grow-1 height100">
                <div id="paint_chart" style="width:100%;height:100%;overflow:hidden;margin: 0 auto;">
                    <iframe style="border-style: none;" border="0" width="100%" height="100%" id="market_chart" src="/KLineChart/index.html?symbol={{query.symbol}}"></iframe>
                </div>
            </div>

            <div class="p-2 bg-box right-width height100" style="color: white;">

                <div>最新价 {[newPrice]} {{query.symbol.toLocaleUpperCase()}}</div>
                <hr>
                <div>

                    <table class="font-small page-table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">方向</th>
                                <th scope="col">价格</th>
                                <th scope="col">数量</th>
                            </tr>
                        </thead>
                        <tbody class="font-small" style="overflow:scroll;">
                            <tr v-for="item,index in market.sell">
                                <td class="text-danger">卖{[9-index]}</td>
                                <td>{[item.price]}</td>
                                <td>{[item.amount]}</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="font-small page-table table-hover">
                        <hr>
                        <tbody class="font-small" style="overflow:scroll;">
                            <tr v-for="item,index in market.buy">
                                <td class="text-success">买{[index+1]}</td>
                                <td>{[item.price]}</td>
                                <td>{[item.amount]}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>

        <div class="d-flex height200">

            <div class="bd-01 bg-box p-2 flex-grow-1 height100">
                <ul class="bg-box nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="shishichengjiao-tab" data-toggle="pill" href="#shishichengjiao"
                            role="tab" aria-controls="shishichengjiao" aria-selected="true">实时成交</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="dangqianweituo-tab" data-toggle="pill" href="#dangqianweituo" role="tab"
                            aria-controls="dangqianweituo" aria-selected="false">当前委托</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="lishiweituo-tab" data-toggle="pill" href="#lishiweituo" role="tab"
                            aria-controls="lishiweituo" aria-selected="false">历史委托</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="chengjiaojilu-tab" data-toggle="pill" href="#chengjiaojilu" role="tab"
                            aria-controls="chengjiaojilu" aria-selected="false">成交记录</a>
                    </li>
                </ul>


                <div class="tab-content" id="pills-tabContent">
                    <div class="pre-scrollable tab-pane fade show active" id="shishichengjiao" role="tabpanel"
                        aria-labelledby="shishichengjiao-tab">
                        <table class="font-small page-table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">时间</th>
                                    <th scope="col">价格(USDT)</th>
                                    <th scope="col">数量(BTC)</th>
                                </tr>
                            </thead>
                            <tbody class="font-small" style="overflow:scroll;">
                                <tr v-for="item in this.shishichengjiao">
                                    <td>{[item.ts]}</td>
                                    <td :class="'shishichengjiao_'+item.direction">{[item.price]}</td>
                                    <td>{[item.amount]}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="dangqianweituo" role="tabpanel" aria-labelledby="dangqianweituo-tab">
                        无当前委托</div>
                    <div class="tab-pane fade" id="lishiweituo" role="tabpanel" aria-labelledby="lishiweituo-tab">
                        无历史委托</div>
                    <div class="tab-pane fade" id="chengjiaojilu" role="tabpanel" aria-labelledby="chengjiaojilu-tab">
                        无成交记录</div>
                </div>
            </div>

            <div class="bd-01 p-2 bottom-width height100">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home2" role="tab"
                            aria-controls="pills-home" aria-selected="true">市价交易</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="pre-scrollable tab-pane fade show active" id="pills-home2" role="tabpanel"
                        aria-labelledby="pills-home-tab">


                        <div class="d-flex flex-row">
                            <div class="col-sm-6">
                                <div>可用：0.000000 USDT</div>
                                <hr>
                                <div>
                                    <div class="form-group row">
                                        <label for="mairuJia" class="col-sm-3 col-form-label"
                                            style="font-size:14px;">买入价</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="mairuJia">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="mairuJia" class="col-sm-3 col-form-label"
                                            style="font-size:14px;">交易额</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="mairuJia">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-success btn-block">买入 {[statup.symbol]}</button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div>可用：0.000000 XYZ</div>
                                <hr>
                                <div>
                                    <div class="form-group row">
                                        <label for="mairuJia" class="col-sm-3 col-form-label"
                                            style="font-size:14px;">卖出价</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="mairuJia">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="mairuJia" class="col-sm-3 col-form-label"
                                            style="font-size:14px;">卖出量</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="mairuJia">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-danger btn-block">卖出 {[statup.symbol]}</button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>

    </div>



    <script>
        let app = new Vue({
            delimiters: ["{[", "]}"],
            el: '#app',
            data: {
                loading: false,
                statup: {
                    symbol: ''
                },
                list: [],
                shishichengjiao: [],
                newPrice: 0,
                market: {
                    buy: [],
                    sell: [],
                }
            },
            methods: {
                onClickGo(symbol) {
                    let url = '/market/?symbol=' + symbol.toLocaleLowerCase() + 'usdt'
                    document.location = url
                },
                post(url, params, callback) {
                    this.loading = true;
                    $.post(url, params, res => {
                        this.loading = false;
                        callback(res);
                    })
                },
                get(url, params, callback) {
                    this.loading = true;
                    $.ajax({
                        'url': url,
                        'type': 'GET',
                        'dataType': 'json',
                        'data': params,
                        'success': res => {
                            this.loading = false;
                            callback(res);
                        },
                        'error': err => {
                            this.loading = false;
                            console.log(err);
                            alert(err.statusText);
                        }
                    })
                },

                // 保留几位小数
                // round(num, len) {
                //     let mult = Number("100000000000000000000000000000".substr(0, len + 1))
                //     return Math.round(num * mult) / mult
                // },
                round(num, intLen = 2, dotLaterLen = 8) {
                    let z = '000000000000000000000000000000'
                    let zn = Number(1 + z.substr(0, dotLaterLen))
                    num = Math.round(num * zn) / zn
                    let s = String(num)

                    if (s.indexOf('.') !== -1) {
                        let a = s.split('.')
                        let n1 = a[0], n2 = a[1], zn

                        if (a[0].length < intLen) {
                            n1 = z.substr(0, intLen - a[0].length) + a[0]
                        }

                        if (a[1].length < dotLaterLen) {
                            zn = z.substr(0, dotLaterLen - a[1].length)
                            n2 = String(a[1]) + zn
                        }

                        let res = `${n1}.${n2}`
                        return res
                    }

                    let zl = z.substr(0, dotLaterLen)
                    return `${s}.${zl}`
                },
                // 小数点向前移，min,保留几位小数
                lessen(num, min, len) {
                    let n = num / min
                    return this.round(n, len)
                },
                coinList(data) {
                    let _t = this
                    let a = data.data
                    a.forEach(function (item) {
                        item.node = {}
                        item.node.logo = `https://assets.coincap.io/assets/icons/${item.symbol.toLocaleLowerCase()}@2x.png`
                        item.node.priceUsd = _t.round(item.priceUsd, 2, 4)
                        item.node.marketCapUsd = _t.lessen(item.marketCapUsd, 12, 2, 4)
                        item.node.vwapUsd24Hr = _t.round(item.vwapUsd24Hr, 2, 4)
                        item.node.supply = _t.lessen(item.supply, 6, 2)
                        item.node.volumeUsd24Hr = _t.lessen(item.volumeUsd24Hr, 9, 2, 4)
                        item.node.changePercent24Hr = _t.round(item.changePercent24Hr, 2, 4)
                        item.node.name = item.name
                        item.node.symbol = item.symbol
                        item.node.id = item.name.toLocaleLowerCase()
                    })
                    a.splice(4, 0, {
                        node:
                        {
                            changePercent24Hr: - 2.39,
                            logo: _t.statup.icon,
                            marketCapUsd: _t.lessen(88811108158.73, 12, 2, 4),
                            name: _t.statup.name,
                            priceUsd: _t.round(0.08, 2, 4),
                            rank: 1,
                            supply: _t.lessen(3148153, 6, 2),
                            symbol: _t.statup.symbol,
                            volumeUsd24Hr: _t.lessen(4456985117.36, 9, 2, 4),
                            vwapUsd24Hr: _t.round(57459.97, 2, 4),
                        }
                    })
                    this.list = a
                },
                coinListUpdate(data) {
                    let _t = this
                    for (let coin_name in data) {
                        let coin_value = data[coin_name]
                        this.list.forEach(function (item) {
                            if (coin_name == item.id) {
                                // item.node.volumeUsd24Hr = _t.lessen(coin_value, 9, 2)
                                item.node.volumeUsd24Hr = coin_value
                            }
                        })
                    }
                },
                // initWS() {
                //     let ws = new WebSocket('ws://{{lang.domain}}:3031/coin-list')
                //     ws.onopen = () => {
                //         console.log('websocket init ...')
                //     };
                //     ws.onclose = () => {
                //         console.log('websocket close ...')
                //     }
                //     ws.onmessage = (event) => {
                //         let res = JSON.parse(event.data)
                //         if (res.key == 'coincap-coin-list') {
                //             this.coinList(JSON.parse(res.value))
                //         } else {
                //             this.coinListUpdate(res)
                //         }
                //     }
                // },
                getList() {
                    this.get('/api/coincap-coin-list/caches', {}, (data) => {
                        this.coinList(data.data.value)
                    })
                },
                // 初始化
                init() {
                    let _t = this
                    this.get('/api/startup', {}, (data) => {
                        this.statup = data.data.currency
                        this.getList()
                    })

                    window.addEventListener('message', (e) => {
                        var data = e.data;
                        if (data.d) {
                            this.newPrice = data.d.close
                            return
                        }

                        if (!data.data) {
                            console.log(data)
                            return
                        }

                        let a = data.data.tick.data

                        a.forEach(function (item) {
                            item.ts = moment(item.ts).format('YYYY-MM-D HH:mm:ss')
                            item.price = _t.round(item.price, 2, 4)
                            item.amount = _t.round(item.amount, 2)
                        })
                        for (let i = 0; i < a.length; i++) {
                            let item = a[i]
                            if (this.shishichengjiao.length > 10) {
                                this.shishichengjiao.unshift(item)
                                this.shishichengjiao.pop()
                            } else {
                                this.shishichengjiao.push(item)
                            }

                            if (item.direction == 'sell') {
                                this.market.sell.unshift(item)
                                if (this.market.sell.length >= 10) {
                                    this.market.sell.pop()
                                }
                                this.market.sell.sort()
                            } else {
                                this.market.buy.unshift(item)
                                if (this.market.buy.length > 10) {
                                    this.market.buy.pop()
                                }
                                this.market.buy.sort()
                            }
                        }
                    }, false);
                }
            },
            mounted() {
                this.init()
                // console.log(this.round(0.05345676, 2))
                // console.log(this.round(0.000330135274947417, 2))
                // console.log(this.round(0.001757473542425864, 2))
                // console.log(this.round(0.000609, 2))
                // console.log(this.round(0.000197, 2))
            }
        });


    </script>

</body>

</html>