<!DOCTYPE html>
<html lang="{{lang.list[defLang].lang}}">

<head>
    {{include './_header.html'}}
</head>

<body>
    {{include './_menu.html'}}

    <div id="app" class="container-fluid main-content">
        <div class="container">
            <div class="row">
                <h3>首发项目</h3>
            </div>
            <div class="row">


                <div id="article-content" class="col-12 article-content">
                    开发中...
                </div>

                <div class="col-12" style="margin:10px;">
                    <button class="btn btn-primary">申 购</button>
                </div>

            </div>
        </div>
    </div>





    {{include './_footer.html'}}
</body>

</html>